*{
    padding:0;
    margin:0;
}

body {
    width:100vw;
    height:100vh;
    
    background-color: #2c79e6;
}
header{

    width:100vw;
    height: 25%;
    background-color: #2c79e6;
}

button {

    background-color: #063663;
    color: #fff
}

main{

    width: 100vw;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;

}

